@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
}

/* shared styles */

.primary-button{
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 50px;
}

/* banner-section styles */

.banner-section{
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 50px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 670px;
}

.brand-name{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
}

.navbar-items{
    display: flex;
}

.navbar-item{
    list-style-type: none;
    margin-right: 30px;
}

.navbar>ul>li:last-child{
    margin-right: 0px;
}

.navbar-item>a{
    text-decoration: none;
    color:rgba(66, 66, 66, 1);
    font-size: 1.125rem;
    font-weight: 500;
}

.banner-contents{
    display: flex;
    flex-direction: column;
}

.banner-header{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    color: rgba(19, 19, 19, 1);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 32px ;
}

.banner-discription{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
}

.banner-image{
    margin: 0 auto;
}

.banner-image>img{
    width: 100%;
}

/* team-gallery-section styles */

.team-gallery-section{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;  
}

.team-texts{
    max-width: 535px;
}

.team-texts>h3{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
    margin: 24px 0px;
}

#quick-list{
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}

#features{
    color: rgba(255, 144, 14, 1);
    font-weight: 700;
}

.team-texts-discription{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;   
}

/* features-section styles */

.features-section{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    gap: 180px;
}

.features-texts{
    
}

.features-title{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
    border-radius: 8px;
    border-top: 5px solid rgba(255, 144, 14, 1);
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
    margin: 0px;
}

.features-discription{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 30px;
}

.features-cards-container{
}

.features-card{
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.features-card>h3{
    color: rgba(19, 19, 19, 1) ;
    font-size: 1.25rem;
    font-weight: 600;
}

.features-card>p{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
}

.badge-button{
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    padding: 45px;
    color: rgba(255, 255, 255, 1);
    margin-left: -100px;
    margin-top: -200px;
}

#years{
    font-size: 4rem;
    font-weight: 800;
}

#exp{
    font-size: 1.5rem;
    font-weight: 500;
}

.features-image>img{
    border-radius: 8px;
    border-right: 5px solid rgba(255, 144, 14, 1);
    border-bottom: 5px solid rgba(255, 144, 14, 1);
}

/* facts-section styles */

.facts-section{
    max-width: 1440px;
    margin: 100px auto;
}

.facts-text{
    text-align: center;
}

.facts-text>h2{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts-text>p{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: space-around;
}

.card{
    width: 200px;
    height: 200px;
    border: 2px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.number{
    color: rgba(66, 66, 66, 1);
    font-size: 2.1rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

.name{
    color: rgba(114, 114, 114, 1);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
}

/* responsive styles for small devices */

@media screen and (max-width: 576px) {
    
    .navbar{
        flex-direction: column;
        gap: 0px;
    }

    .navbar-items{
        flex-direction: column;
        text-align: center;
    }

    .navbar-item{
        margin-bottom: 20px;
    }

    .team-gallery-section{
        flex-direction: column-reverse;
    }
    
    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-texts{
        text-align: center;
    }

    .features-section{
        flex-direction: column;
        gap: 20px;
    }

    .features-title{
        text-align: center;
        padding: 20px;
        border: 5px solid rgba(255, 144, 14, 1);
        border-radius: 8px;
    }

    .features-discription{
        padding: 10px;
    }

    .features-card{
        text-align: center;
    }

    .features-image>img{
        width: calc( 100% - 10px);
        border: 5px solid rgba(255, 144, 14, 1);
        border-radius: 8px;
    }

    .badge-button{
        width: 100%;
        margin: 0px auto;
    }

    .facts-container{
        grid-template-columns: repeat(1, auto);
        gap: 40px;
    }
}

/* sponsors-section styles */

.sponsors-section{
    max-width: 1440px;
    margin: 0 auto;
}

.sponsors-text{
    text-align: center;
}

.sponsors-title{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsors-description{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.sponsor-image-container{
    display: flex;
    justify-content: space-around;
}

/* responsive styles for medium devices */

@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar{
        gap: 100px;
    }

    .team-gallery-section{
        flex-direction: column;
    }

    .team-texts{
        text-align: center;
    }

    .features-section{
        flex-direction: column;
        gap: 20px;
    }

    .features-image>img{
        width: calc( 100% - 5px);
        border-right: 5px solid rgba(255, 144, 14, 1);
        border-bottom: 5px solid rgba(255, 144, 14, 1);
        border-radius: 8px;
    }
    
    .badge-button{
        width: 100%;
        margin: 0px auto;
    }
}